<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if current_user.admin? and @edit%>
  <h4>Merge Articles</h4>
    <%= form_tag(:action => "merge_articles", :id => @article.id) do %>
      Article ID: <%= text_field_tag "merge_with" %>
      <br>
      <%= submit_tag "Merge" %>
    <% end %>
<% end %>

